* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 16px;
}
body{
  background-color: rgb(212, 210, 210);
}
header{
  height: 8vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  flex-direction: row;
  background-color: rgb(74, 110, 141);
  border-radius: 2px;
}
nav ul{
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  
  
}
nav ul li{
  margin-left: 1.8em;
  font-size: 1.1em;
  list-style: none;
}
nav ul li  a{
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}
nav ul li  a:hover{
  color: rgb(51, 230, 221);
  
  
 
}
.logo{
  position: absolute;
  left: 5px;
}
#logo{
  width: 7.5vw;
  height:7.5vw;
  border-radius: 5vw;
  
}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:10;
  align-items: center;
  background: linear-gradient(112deg, rgba(114,130,133,1) 28%, rgba(0,0,0,1) 100%);
  background-size: cover;
	  background-position: center;
   height: 80vh;
      
 
}
article{
  width: 40vw;
  font-size: 1.2em;
  margin-left: -60;
}
