* {
  margin: 0px;
  padding: 0px;
  
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0px;
} 
body{
  background-color: rgb(255, 255, 255);
}
header{
  height: 8vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  flex-direction: row;
  background-color: rgb(248, 243, 243);
  border-radius: 2px;
  
}
nav ul{
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  
  
}
nav ul li{
  margin-left: 1.8em;
  font-size: 1.1em;
  list-style: none;
}
nav ul li  a{
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}
nav ul li  a:hover{
  color: rgb(51, 230, 221);
  
  
 
}
.logo{
  position: absolute;
  left: 5px;
}
#logo{
  width: 7.5vw;
  height:7.5vw;
  border-radius: 5vw;
  
}
#intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:10;
  align-items: center;
  background:url(../images/top-contractor-websites.jpeg);
  background-size: cover;
	  background-position: center;
   height: 88vh;
   

      
 
}

article{
  width: 40vw;
  font-size: 1.3em;
  margin-left: -60;
  color: white;
  font-weight:250;
  
}
#services{
  height: 60vh;

  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#slider{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-top: 10vh;
  
}

.carousel-item{
  height: 80%;
}
.testimony{
  height: 20vw;
  margin-top: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px rgb(104, 103, 103,.05) solid;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.testimony-img{
  height: 17vw;
  width:30vw;
}
#test-cont{
  background-color: rgba(233, 233, 233, 0.05);
  padding: 20px;
  margin-top: 120px; 
}
footer{
  height: 26vh;
  background-color: rgb(3, 3, 3,.9);
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer ul li{
  list-style: none;
  margin: 20px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}